{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam optio natus et commodi sequi molestias incidunt exercitationem ad reiciendis sed minus, quod ipsa similique vitae aliquam consequuntur! Cumque, debitis molestiae!
        Distinctio accusantium deserunt atque molestias sapiente quod. Dolor dignissimos excepturi sapiente labore saepe nihil dicta quam autem deserunt modi ad deleniti dolore quae delectus, repellat itaque optio sed. Quisquam, similique?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>

</main>
    
{% endblock %}